{{ partial "header.html" . }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-3 sidebar">

			{{ partial "sidebar-content.html" . }}

			</div>
			<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3 content">

				{{ range .Paginator.Pages }}
				<div class="post">

					<div class="post-heading">
						<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
						<span>{{ if .Params.author }} by {{ .Params.author }}{{ end }}</span>
					</div>

					{{ .Content }}

				</div>
				{{ end }}

				<div class="text-center">
					{{ template "_internal/pagination.html" . }}
				</div>

			</div>
			<div class="col-sm-1 col-md-3 col-md-4">
			</div>
		</div>
	</div>

{{ partial "footer.html" . }}
