+++
title = "Instructions"
tags = ["riscv", "risc-v", "rv64i", "rv64d", "rv32"]
menu = "main"
+++

<h2>Base Integer Instructions</h2>

These base integer instructions are the foundation of the RISC-V architecture.

<h3>Loads</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">LB</td><td><b>L</b>oad <b>B</b>yte</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">LB</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">LH</td><td><b>L</b>oad <b>H</b>alfword</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">LH</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">LW</td><td><b>L</b>oad <b>W</b>ord</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">LW</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">LD</td><td><b>L</b>oad <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">LD</span> rd,rs,imm</td></tr>
<tr><td class="opcode">LQ</td><td><b>L</b>oad <b>Q</b>uad</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">LQ</span> rd,rs,imm</td></tr>
<tr><td class="opcode">LBU</td><td><b>L</b>oad <b>B</b>yte <b>U</b>nsigned</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">LBU</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">LHU</td><td><b>L</b>oad <b>H</b>alfword <b>U</b>nsigned</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">LHU</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">LWU</td><td><b>L</b>oad <b>W</b>ord <b>U</b>nsigned</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">LWU</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">LDU</td><td><b>L</b>oad <b>D</b>ouble <b>U</b>nsigned</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">LDU</span> rd,rs1,imm</td></tr>
</tbody>
</table>

<h3>Stores</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>R64I</td><td>R128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">SB</td><td><b>S</b>tore <b>B</b>yte</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SB</span> rs1,rs2,imm</td></tr>
<tr><td class="opcode">SH</td><td><b>S</b>tore <b>H</b>alfword</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SH</span> rs1,rs2,imm</td></tr>
<tr><td class="opcode">SW</td><td><b>S</b>tore <b>W</b>ord</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SW</span> rs1,rs2,imm</td></td></tr>
<tr><td class="opcode">SD</td><td><b>S</b>tore <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SD</span> rs1,rs2,imm</td></td></tr>
<tr><td class="opcode">SQ</td><td><b>S</b>tore <b>Q</b>uad</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">SQ</span> rs1,rs2,imm</td></td></tr>
</tbody>
</table>

<h3>Shifts</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">SLL</td><td><b>S</b>hift <b>L</b>eft</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SLL</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SLLW</td><td><b>S</b>hift <b>L</b>eft <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SLLW</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SLLD</td><td><b>S</b>hift <b>L</b>eft <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">SLLD</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SLLI</td><td><b>S</b>hift <b>L</b>eft <b>I</b>mmediate</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SLLI</span> rd,rs1,shamt</td></tr>
<tr><td class="opcode">SLLIW</td><td><b>S</b>hift <b>L</b>eft <b>I</b>mmediate <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SLLIW</span> rd,rs1,shamt</td></tr>
<tr><td class="opcode">SLLID</td><td><b>S</b>hift <b>L</b>eft <b>I</b>mmediate <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">SLLID</span> rd,rs1,shamt</td></tr>
<tr><td class="opcode">SRL</td><td><b>S</b>hift <b>R</b>ight</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SRL</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SRLW</td><td><b>S</b>hift <b>R</b>ight <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SRLW</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SRLD</td><td><b>S</b>hift <b>R</b>ight <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">SRLD</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SRLI</td><td><b>S</b>hift <b>R</b>ight <b>I</b>mmediate</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SRLI</span> rd,rs1,shamt</td></tr>
<tr><td class="opcode">SRLIW</td><td><b>S</b>hift <b>R</b>ight <b>I</b>mmediate <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SRLIW</span> rd,rs1,shamt</td></tr>
<tr><td class="opcode">SRLID</td><td><b>S</b>hift <b>R</b>ight <b>I</b>mmediate <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">SRLID</span> rd,rs1,shamt</td></tr>
<tr><td class="opcode">SRA</td><td><b>S</b>hift <b>R</b>ight <b>A</b>rithmetic</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SRA</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SRAW</td><td><b>S</b>hift <b>R</b>ight <b>A</b>rithmetic <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SRAW</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SRAD</td><td><b>S</b>hift <b>R</b>ight <b>A</b>rithmetic <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">SRAD</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SRAI</td><td><b>S</b>hift <b>R</b>ight <b>A</b>rithmetic <b>I</b>mm.</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SRAI</span> rd,rs1,shamt</td></tr>
<tr><td class="opcode">SRAIW</td><td><b>S</b>hift <b>R</b>ight <b>A</b>rithmetic <b>I</b>mm. <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SRAIW</span> rd,rs1,shamt</td></tr>
<tr><td class="opcode">SRAID</td><td><b>S</b>hift <b>R</b>ight <b>A</b>rithmetic <b>I</b>mm. <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">SRAID</span> rd,rs1,shamt</td></tr>
</tbody>
</table>

<h3>Arithmetic</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">ADD</td><td><b>ADD</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">ADD</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">ADDW</td><td><b>ADD</b> <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">ADDW</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">ADDD</td><td><b>ADD</b> <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">ADDD</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">ADDI</td><td><b>ADD I</b>mmediate</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">ADDI</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">ADDIW</td><td><b>ADD I</b>mmediate <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">ADDIW</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">ADDID</td><td><b>ADD I</b>mmediate <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">ADDID</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">SUB</td><td><b>Sub</b>tract</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SUB</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SUBW</td><td><b>Sub</b>tract <b>W</b>ord</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SUBW</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SUBD</td><td><b>Sub</b>tract <b>D</b>ouble</td><td class="bg-danger">N</td><td class="bg-danger">N</td><td class="bg-success">Y</td><td><span class="opcode">SUBD</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">LUI</td><td><b>L</b>oad <b>U</b>pper <b>I</b>mmediate</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">LUI</span> rd,imm</td><td></td></tr>
<tr><td class="opcode">AUIPC</td><td><b>A</b>dd <b>U</b>pper <b>I</b>mm. to <b>PC</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">AUIPC</span> rd,imm</td><td></td></tr>
</tbody>
</table>

<h3>Logical</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">XOR</td><td><b>XOR</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">XOR</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">XORI</td><td><b>XOR I</b>mmediate</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">XORI</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">OR</td><td><b>OR</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">OR</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">ORI</td><td><b>OR I</b>mmediate</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">ORI</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">AND</td><td><b>AND</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">AND</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">ANDI</td><td><b>AND I</b>mmediate</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">ANDI</span> rd,rs1,imm</td></tr>
</tbody>
</table>

<h3>Compare</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">SLT</td><td><b>S</b>et <b>&lt;</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SLT</span> rd,rs1,rs2</td></tr>
<tr><td class="opcode">SLTI</td><td><b>S</b>et <b>&lt;</b> <b>I</b>mmediate</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SLTI</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">SLTU</td><td><b>S</b>et <b>&lt;</b> <b>U</b>nsigned</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SLTU</span> rd,rs1,imm</td></tr>
<tr><td class="opcode">SLTIU</td><td><b>S</b>et <b>&lt;</b> <b>I</b>mmediate <b>U</b>nsigned</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SLTIU</span> rd,rs1,imm</td></tr>
</tbody>
</table>

<h3>Branches</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">BEQ</td><td><b>B</b>ranch <b>Eq</b>ual </td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">BEQ</span> rs1,rs2,imm</td></tr>
<tr><td class="opcode">BNE</td><td><b>B</b>ranch <b>N</b>ot <b>E</b>qual</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">BNE</span> rs1,rs2,imm</td></tr>
<tr><td class="opcode">BLT</td><td><b>B</b>ranch <b>L</b>ess <b>T</b>han</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">BLT</span> rs1,rs2,imm</td></tr>
<tr><td class="opcode">BGE</td><td><b>B</b>ranch <b>G</b>reater <b>T</b>han</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">BGE</span> rs1,rs2,imm</td></tr>
<tr><td class="opcode">BLTU</td><td><b>B</b>ranch <b>L</b>ess <b>T</b>han</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">BLTU</span> rs1,rs2,imm</td></tr>
<tr><td class="opcode">BGEU</td><td><b>B</b>ranch <b>G</b>reater <b>T</b>han</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">BGEU</span> rs1,rs2,imm</td></tr>
</tbody>
</table>

<h3>Jump & Link</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">JAL</td><td><b>J</b>ump <b>A</b>nd <b>L</b>ink</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">JAL</span> rd,imm</td></tr>
<tr><td class="opcode">JALR</td><td><b>J</b>ump <b>A</b>nd <b>L</b>ink <b>R</b>egister</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">JALR</span> rd,rs1,imm</td></tr>
</tbody>
</table>

<h3>Sync</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">FENCE</td><td>Sync Thread</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">FENCE</span></td></tr>
<tr><td class="opcode">FENCE.I</td><td>Sync Instruction &amp; Data</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">FENCE.I</span></td></tr>
</tbody>
</table>

<h3>System</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">SCALL</td><td><b>S</b>ystem <b>CALL</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SCALL</span></td></tr>
<tr><td class="opcode">SBREAK</td><td><b>S</b>ystem <b>BREAK</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">SBREAK</span></td></tr>
</tbody>
</table>

<h3>Counters</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="opcode">RDCYCLE</td><td><b>R</b>ea<b>D</b> <b>CYCLE</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">RDCYCLE</span> rd</td></tr>
<tr><td class="opcode">RDCYCLEH</td><td><b>R</b>ea<b>D</b> <b>CYCLE</b> upper <b>H</b>alf</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">RDCYCLEH</span> rd</td></tr>
<tr><td class="opcode">RDTIME</td><td><b>R</b>ea<b>D</b> <b>TIME</b></td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">RDTIME</span> rd</td></tr>
<tr><td class="opcode">RDTIMEH</td><td><b>R</b>ea<b>D</b> <b>TIME</b> upper <b>H</b>alf</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">RDTIMEH</span> rd</td></tr>
<tr><td class="opcode">RDINSTRET</td><td><b>R</b>ea<b>D</b> <b>INSTR</b> <b>R</b>etired</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">RDINSTRET</span> rd</td></tr>
<tr><td class="opcode">RDINSTRETH</td><td><b>R</b>ea<b>D</b> <b>INSTR</b> <b>R</b>etired upper <b>H</b>alf</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="opcode">RDINSTRETH</span> rd</td></tr>
</tbody>
</table>

<h2>Pseudo-instructions</h2>

The RISCV specification also dictates several Pseudo Instructions. These aren't implemented in hardware, but are translated by the assembler to common tasks.

<h3>Loads</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>Actions</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="popcode">LA</td><td><b>L</b>oad <b>A</b>ddress</td><td><span class="opcode">AUIPC</span></a> rd, symbol[31:12]<br/><span class="opcode">ADDI</span> rd, rd, symbol[11:0]</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">LA</span> rd, symbol</td></tr>
<tr><td class="popcode">NOP</td><td><b>N</b>o <b>Op</b>eration</td><td><span class="opcode">ADDI</span> x0, x0, 0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">NOP</span></td></tr>
<tr><td class="popcode">LI</td><td><b>L</b>oad <b>I</b>mmediate</td><td>Varies</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">LI</span> rd, immediate</td></tr>
<tr><td class="popcode">MV</td><td><b>M</b>o<b>v</b>e (Copy) Register</td><td><span class="opcode">ADDI</span> rd, rs, 0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">MV</span> rd, rs</td></tr>
<tr><td class="popcode">SEXT.W</td><td><b>S</b>ign <b>Ext</b>end <b>W</b>ord</td><td><span class="opcode">ADDIW</span> rd, rs, 0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">SEXT.W</span> rd, rs</td></tr>
</tbody>
</table>

<h3>Branches</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>Actions</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="popcode">BEQZ</td><td><b>B</b>ranch If <b>Eq</b>ual <b>Z</b>ero</td><td><span class="opcode">BEQ</span> rs, x0, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BEQZ</span> rs, offset</td></tr>
<tr><td class="popcode">BNEZ</td><td><b>B</b>ranch If <b>N</b>ot <b>E</b>qual <b>Z</b>ero</td><td><span class="opcode">BNE</span> rs, x0, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BNEZ</span> rs, offset</td></tr>
<tr><td class="popcode">BLEZ</td><td><b>B</b>ranch If <b>L</b>ess Than or <b>E</b>qual <b>Z</b>ero</td><td><span class="opcode">BGE</span> x0, rs, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BLEZ</span> rs, offset</td></tr>
<tr><td class="popcode">BGEZ</td><td><b>B</b>ranch If <b>G</b>reater Than or <b>E</b>qual <b>Z</b>ero</td><td><span class="opcode">BGE</span> x0, rs, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BLEZ</span> rs, offset</td></tr>
<tr><td class="popcode">BLTZ</td><td><b>B</b>ranch If <b>L</b>ess <b>T</b>han <b>Z</b>ero</td><td><span class="opcode">BLT</span> rs, x0, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BLTZ</span> rs, offset</td></tr>
<tr><td class="popcode">BGTZ</td><td><b>B</b>ranch If <b>G</b>reater <b>T</b>han <b>Z</b>ero</td><td><span class="opcode">BLT</span> x0, rs, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BGTZ</span> rs, offset</td></tr>
<tr><td class="popcode">BGT</td><td><b>B</b>ranch If <b>G</b>reater <b>T</b>han</td><td><span class="opcode">BLT</span> rt, rs, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BGT</span> rs, rt, offset</td></tr>
<tr><td class="popcode">BLE</td><td><b>B</b>ranch If <b>L</b>ess Than or <b>E</b>qual</td><td><span class="opcode">BGE</span> rt, rs, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BLE</span> rs, rt, offset</td></tr>
<tr><td class="popcode">BGTU</td><td><b>B</b>ranch If <b>G</b>reater <b>T</b>han, <b>U</b>nsigned</td><td><span class="opcode">BLTU</span> rt, rs, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BGTU</span> rs, rt, offset</td></tr>
<tr><td class="popcode">BLEU</td><td><b>B</b>ranch If <b>G</b>reater Than or <b>E</b>qual, <b>U</b>nsigned</td><td><span class="opcode">BGEU</span> rt, rs, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">BLEU</span> rs, rt, offset</td></tr>
</tbody>
</table>

<h3>Compare</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>Actions</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="popcode">SEQZ</td><td><b>S</b>et If <b>Eq</b>ual <b>Z</b>ero</td><td><span class="opcode">SLTIU</span> rd, rs, 1</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">SEQZ</span> rd, rs</td></tr>
<tr><td class="popcode">SNEZ</td><td><b>S</b>et If <b>N</b>ot <b>E</b>qual <b>Z</b>ero</td><td><span class="opcode">SLTU</span> rd, x0, rs</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">SNEZ</span> rd, rs</td></tr>
<tr><td class="popcode">SLTZ</td><td><b>S</b>et If <b>L</b>ess <b>T</b>han <b>Z</b>ero</td><td><span class="opcode">SLT</span> rd, rs, x0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">SLTZ</span> rd, rs</td></tr>
<tr><td class="popcode">SGTZ</td><td><b>S</b>et If <b>G</b>reater <b>T</b>han <b>Z</b>ero</td><td><span class="opcode">SLT</span> rd, x0, rs</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">SGTZ</span> rd, rs</td></tr>
</tbody>
</table>

<h3>Counters</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>Actions</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="popcode">RDCYCLE</td><td><b>R</b>ea<b>d</b> <b>Cycle</b> Counter</td><td><span class="opcode">CSRRS</span> rd, cycle[h], x0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">RDCYCLE[h]</span> rd</td></tr>
<tr><td class="popcode">RDTIME</td><td><b>R</b>ea<b>d</b> Real-<b>Time</b> Clock</td><td><span class="opcode">CSRRS</span> rd, time[h], x0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">RDTIME[h]</span> rd</td></tr>
<tr><td class="popcode">RDINSTRET</td><td><b>R</b>ea<b>d</b> <b>Inst</b>ruction <b>Ret</b>ired Counter</td><td><span class="opcode">CSRRS</span> rd, instret[h], x0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">RDINSTRET[h]</span> rd</td></tr>
</tbody>
</table>

<h3>Jump & Link</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>Actions</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody>
<tr><td class="popcode">J</td><td><b>J</b>ump (Near, Non-returnable)</td><td><span class="opcode">JAL</span> x0, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">J</span> offset</td></tr>
<tr><td class="popcode">JAL</td><td><b>J</b>ump <b>A</b>nd <b>L</b>ink (Near, Returnable)</td><td><span class="opcode">JAL</span> x1, offset</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">JAL</span> offset</td></tr>
<tr><td class="popcode">JR</td><td><b>J</b>ump <b>R</b>egister</td><td><span class="opcode">JALR</span> x0, rs, 0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">JALR</span> rs</td></tr>
<tr><td class="popcode">JALR</td><td><b>J</b>ump <b>A</b>nd <b>L</b>ink <b>R</b>egister</td><td><span class="opcode">JALR</span> x1, rs, 0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">JALR</span> rs</td></tr>
<tr><td class="popcode">RET</td><td><b>Ret</b>urn From Subroutine</td><td><span class="opcode">JALR</span> x0, x1, 0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">RET</span></td></tr>
<tr><td class="popcode">CALL</td><td><b>Call</b> Subroutine (Far, Returnable)</td><td><span class="opcode">AUIPC</span> x6, offset[31:12]<br/><span class="opcode">JALR</span> x1, x6, offset[11:0]</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">CALL</span> offset</td></tr>
<tr><td class="popcode">TAIL</td><td><b>Tail</b> Call Subroutine (Far, Non-returnable)</td><td><span class="opcode">AUIPC</span> x6, offset[31:12]<br/><span class="opcode">JALR</span> x0, x6, offset[11:0]</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">TAIL</span> offset</td></tr>
</tbody>
</table>

<h3>Logical</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>Actions</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="popcode">NOT</td><td>One's Complement</td><td><span class="opcode">XORI</span> rd, rs, -1</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">NOT</span> rd, rs</td></tr>
<tr><td class="popcode">NEG</td><td>Two's Complement</td><td><span class="opcode">SUB</span> rd, x0, rs</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">NEG</span> rd, rs</td></tr>
<tr><td class="popcode">NEGW</td><td>Two's Complement Word</td><td><span class="opcode">SUBW</span> rd, x0, rs</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">NEGW</span> rd, rs</td></tr>
</tbody>
</table>

<h3>Sync</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>Actions</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="popcode">FENCE</td><td><b>Fence</b> on all memory and I/O</td><td><span class="opcode">FENCE</span> iorw, iorw</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">FENCE</span></td></tr>
</tbody>
</table>

<h3>TODO</h3>
<table class="table table-striped table-sort">
<thead>
<td>Instruction</td><td>Name</td><td>Actions</td><td>RV32I</td><td>RV64I</td><td>RV128I</td><td>Syntax</td>
</thead>
<tbody style="font-family: monospace;">
<tr><td class="popcode">CSRR</td><td><b>CSR</b> <b>R</b>ead<td><span class="opcode">CSRRS</span> rd, csr, x0</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">CSRR</span> rd, csr</td></tr>
<tr><td class="popcode">CSRW</td><td><b>CSR</b> <b>W</b>rite<td><span class="opcode">CSRRW</span> x0, csr, rs</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">CSRW</span> csr, rs</td></tr>
<tr><td class="popcode">CSRS</td><td><b>CSR</b> <b>S</b>et Bits<td><span class="opcode">CSRRS</span> x0, csr, rs</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">CSRS</span> csr, rs</td></tr>
<tr><td class="popcode">CSRC</td><td><b>CSR</b> <b>C</b>lear Bits<td><span class="opcode">CSRRC</span> x0, csr, rs</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">CSRC</span> csr, rs</td></tr>
<tr><td class="popcode">CSRWI</td><td><b>CSR</b> <b>W</b>rite <b>I</b>mmediate<td><span class="opcode">CSRRWI</span> x0, csr, imm</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">CSRWI</span> csr, imm</td></tr>
<tr><td class="popcode">CSRSI</td><td><b>CSR</b> <b>S</b>et Bits <b>I</b>mmediate<td><span class="opcode">CSRRSI</span> x0, csr, imm</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">CSRSI</span> csr, imm</td></tr>
<tr><td class="popcode">CSRCI</td><td><b>CSR</b> <b>C</b>lear Bits <b>I</b>mmediate<td><span class="opcode">CSRRCI</span> x0, csr, imm</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td class="bg-success">Y</td><td><span class="popcode">CSRCI</span> csr, imm</td></tr>
</tbody>
</table>
