+++
title = "Registers"
tags = ["riscv", "risc-v", "registers"]
menu = "main"
+++

<table class="table table-striped">
<thead>
<td>Register</td><td>ABI Name<td>Description</td>
</thead>
<tbody>
<tr><td>x0</td><td>zero</td><td>zero register</td></tr>
<tr><td>x1</td><td>ra</td><td>return address</td></tr>
<tr><td>x2</td><td>sp</td><td>stack pointer</td></tr>
<tr><td>x3</td><td>gp</td><td>global pointer</td></tr>
<tr><td>x4</td><td>tp</td><td>thread pointer</td></tr>
<tr><td>x5</td><td>t0</td><td>temporary register</td></tr>
<tr><td>x6</td><td>t1</td><td>temporary register</td></tr>
<tr><td>x7</td><td>t2</td><td>temporary register</td></tr>
<tr><td>x8</td><td>s0 / fp</td><td>saved register / frame pointer</td></tr>
<tr><td>x9</td><td>s1</td><td>saved register</td></tr>
<tr><td>x10</td><td>a0</td><td>function argument / return value</td></tr>
<tr><td>x11</td><td>a1</td><td>function argument / return value</td></tr>
<tr><td>x12</td><td>a2</td><td>function argument</td></tr>
<tr><td>x13</td><td>a3</td><td>function argument</td></tr>
<tr><td>x14</td><td>a4</td><td>function argument</td></tr>
<tr><td>x15</td><td>a5</td><td>function argument</td></tr>
<tr><td>x16</td><td>a6</td><td>function argument</td></tr>
<tr><td>x17</td><td>a7</td><td>function argument</td></tr>
<tr><td>x18</td><td>s2</td><td>saved register</td></tr>
<tr><td>x19</td><td>s3</td><td>saved register</td></tr>
<tr><td>x20</td><td>s4</td><td>saved register</td></tr>
<tr><td>x21</td><td>s5</td><td>saved register</td></tr>
<tr><td>x22</td><td>s6</td><td>saved register</td></tr>
<tr><td>x23</td><td>s7</td><td>saved register</td></tr>
<tr><td>x24</td><td>s8</td><td>saved register</td></tr>
<tr><td>x25</td><td>s9</td><td>saved register</td></tr>
<tr><td>x26</td><td>s10</td><td>saved register</td></tr>
<tr><td>x27</td><td>s11</td><td>saved register</td></tr>
<tr><td>x28</td><td>t3</td><td>temporary register</td></tr>
<tr><td>x29</td><td>t4</td><td>temporary register</td></tr>
<tr><td>x30</td><td>t5</td><td>temporary register</td></tr>
<tr><td>x31</td><td>t6</td><td>temporary register</td></tr>
</tbody>
</table>
