
	<div class="sidebar-content">

		<a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
		<p>{{ .Site.Params.description }}</p>

		{{ if .Site.Params.sidebarFreeText }}
		<div class="sidebar-freetext">
			<p>{{ .Site.Params.sidebarFreeText }}</p>
		</div>
		{{ end }}

		<ul class="sidebar-menus">
			{{ range .Site.Menus.main }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}
		</ul>

		{{ if .Site.Params.contact_email }}
		<div class="sidebar-contact">
			&#187; <a href="mailto:{{ .Site.Params.contact_email }}">Email Us</a>
		</div>
		{{ end }}

		<p class="copyright"><a href="https://gitlab.com/kallisti5/riscv-guru" target="_blank"><img src="/images/git.png"></a></p>
		<p class="attr">Powered by <a href="http://gohugo.io">Hugo</a></p>

	</div>
