{{ partial "header.html" . }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-3 sidebar">

			{{ partial "sidebar-content.html" . }}

			</div>
			<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3 content">

				<div class="post">

					<div class="post-heading">
						<h1>RISC-V Architecture</h1>
						<span style="margin-left: 20px;">an open instruction set architecture</span>
					</div>

					<p>Welcome to <a href="https://risc-v.guru">risc-v.guru</a>, the easy to read reference manual for the RISC-V Instruction Set Architecture.</p>

				<h2>Disclaimer</h2>
					<p>This is <b>NOT</b> an official document, but a guide thrown together to allow rapid lookup of assembly instructions for RISC-V. If you're looking for the official source of ISA information, check out the <a href="https://riscv.org/" target="_blank">RISC-V foundation</a>.</p>
					<p>While this document is as accurate as possible, it should be used as a supplimental reference to the <a href="https://riscv.org/specifications/" target="_blank">official RISC-V specifications</a>. (Don't depend on this reference for mission critical work)</p>
				</div>

				<h2>Important Milestones</h2>
				RISC-V has had multiple important milestones to its adoption. This is a non-exhaustive list of notable events.<br/><br/>
				<ul>
				<li>2010 - RISC-V Specification introduced</li>
				<li>2017 - Binutils 2.28 was the first version of GNU Binutils with RISC-V support.</li>
				<li>2017 - GCC 7.1 was the first version of GCC with RISC-V support.</li>
				<li>2018 - Rust 1.30.0 was the first version of Rust with an RISC-V target (rv32imc)</li>
				<li>2019 - LLVM 9 was the first version of LLVM with stable RISC-V support.</li>
				</ul>

				<h2>Donations</h2>
				If you appreciate this site, please consider donating!
				<ul>
				<li><b>Bitcoin</b> - bc1q0fvhyml7d39a67lt2c8c66q04ad7uzd5mcjfdc</li>
				<li><b>Eth</b> - 0xA0Ce42789a6e0Baece7B88A6440ce514478Aa0B9</li>
				<li><b>XLM</b> - GCZ6ZWJQ5TRGX5ISN3U5SMJBIJXEK5G7VEXZ65YHFKRFUWWHBKAGFRCV</li>
				</ul>
			</div>
			<div class="col-sm-1 col-md-3 col-md-4">
			</div>
		</div>
	</div>

{{ partial "footer.html" . }}
